html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Iranian Sans';
}

@font-face {
    font-family: 'Iranian Sans';
    src: url('../fonts/iransans.ttf') format('truetype');
}

@font-face {
    font-family: 'Merkur';
    src: url('../fonts/Merkur.otf') format('truetype');
}


hr {
    max-width: 80px;
    border-color: #f05f40;
    border-width: 3px;
}

    hr.light {
        border-color: #fff;
    }

a {
    color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

    a:hover,
    a:focus {
        color: #eb3812;
    }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Iranian Sans';
}

p {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.5;
}

.bg-primary {
    background-color: #f05f40;
}

.bg-dark {
    color: #fff;
    background-color: #222;
}

.text-faded {
    color: #ffffff;
    color: rgba(255,255,255,.7);
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}


.navbar-default {
    border-color: #ffffff;
    border-color: rgba(255,255,255,.3);
    background-color: transparent;
    font-family: "Iranian Sans", "Open Sans", sans-serif, Helvetica, Arial;
    direction: rtl;
}

    .navbar-default .navbar-header .navbar-brand {
        color: #ffffff;
        color: rgba(255,255,255,.7);
        text-transform: uppercase;
        font-family: 'Merkur';
        font-weight: 100;
        font-size: 30px;
    }

        .navbar-default .navbar-header .navbar-brand:hover,
        .navbar-default .navbar-header .navbar-brand:focus {
            color: #fff;
        }

    .navbar-default .nav > li > a,
    .navbar-default .nav > li > a:focus {
        color: #ffffff;
        color: rgba(255,255,255,.9);
        font-size: 16px;
        font-weight: 600;
    }

        .navbar-default .nav > li > a:hover,
        .navbar-default .nav > li > a:focus:hover {
            color: #f05f40;
        }

    .navbar-default .nav > li.active > a,
    .navbar-default .nav > li.active > a:focus {
        color: #f05f40 !important;
        background-color: transparent;
    }

        .navbar-default .nav > li.active > a:hover,
        .navbar-default .nav > li.active > a:focus:hover {
            background-color: transparent;
        }

    .navbar-default.affix {
        border-color: #222222;
        border-color: rgba(34,34,34,.05);
        background-color: #ddd;
    }

        .navbar-default.affix .navbar-header .navbar-brand {
            font-size: 35px;
            color: #f05f40;
        }

            .navbar-default.affix .navbar-header .navbar-brand:hover,
            .navbar-default.affix .navbar-header .navbar-brand:focus {
                color: #eb3812;
            }

        .navbar-default.affix .nav > li > a,
        .navbar-default.affix .nav > li > a:focus {
            color: #222;
        }

            .navbar-default.affix .nav > li > a:hover,
            .navbar-default.affix .nav > li > a:focus:hover {
                color: #f05f40;
            }

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../images/header.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-shadow: white 0px 0px 100px;
}

    header .header-content {
        position: relative;
        width: 100%;
        padding-top: 20vmin;
        text-align: center;
        padding-bottom: 70%;
    }

        header .header-content .header-content-inner h1 {
            text-transform: uppercase;
            font-weight: 200;
            font-family: 'Merkur';
            letter-spacing: 0.2em;
            color: #ffffff;
        }

        header .header-content .header-content-inner hr {
            margin: 50px auto;
        }

@media(min-width:880px) and (max-width: 1920px) {
    header {
        min-height: 100%;
    }

        header .header-content {
            position: absolute;
            padding-top: 15vh;
            overflow: hidden;
            padding-bottom: 100%;
        }

            header .header-content .header-content-inner {
                margin-right: auto;
                margin-left: auto;
            }
}

@media(min-width: 1920px) {
    header {
        min-height: 100%;
    }

        header .header-content {
            position: absolute;
            padding-top: 10vh;
            overflow: hidden;
            padding-bottom: 100%;
        }

            header .header-content .header-content-inner {
                margin-right: auto;
                margin-left: auto;
            }
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .service-box {
        margin: 20px auto 0;
    }
}

.service-box p {
    margin-bottom: 0;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

    .portfolio-box .portfolio-box-caption {
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        color: #fff;
        -ms-opacity: 0;
        opacity: 0;
        background: #f05f40;
        -webkit-transition: all .35s;
        -moz-transition: all .35s;
        -ms-transition: all .35s;
        -o-transition: all .35s;
        transition: all .35s;
    }

        .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
            position: absolute;
            top: 50%;
            width: 100%;
            text-align: center;
            transform: translateY(-50%);
        }

            .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
            .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
                padding: 0 15px;
                font-family: 'Iranian Sans';
            }

            .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
            }

            .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
                font-size: 18px;
            }

    .portfolio-box:hover .portfolio-box-caption {
        -ms-opacity: 1;
        opacity: 1;
    }

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.text-primary {
    color: #f05f40;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

    .btn-default:hover,
    .btn-default:focus,
    .btn-default.focus,
    .btn-default:active,
    .btn-default.active,
    .open > .dropdown-toggle.btn-default {
        border-color: #ededed;
        color: #222;
        background-color: #f2f2f2;
    }

    .btn-default:active,
    .btn-default.active,
    .open > .dropdown-toggle.btn-default {
        background-image: none;
    }

    .btn-default.disabled,
    .btn-default[disabled],
    fieldset[disabled] .btn-default,
    .btn-default.disabled:hover,
    .btn-default[disabled]:hover,
    fieldset[disabled] .btn-default:hover,
    .btn-default.disabled:focus,
    .btn-default[disabled]:focus,
    fieldset[disabled] .btn-default:focus,
    .btn-default.disabled.focus,
    .btn-default[disabled].focus,
    fieldset[disabled] .btn-default.focus,
    .btn-default.disabled:active,
    .btn-default[disabled]:active,
    fieldset[disabled] .btn-default:active,
    .btn-default.disabled.active,
    .btn-default[disabled].active,
    fieldset[disabled] .btn-default.active {
        border-color: #fff;
        background-color: #fff;
    }

    .btn-default .badge {
        color: #fff;
        background-color: #222;
    }

.btn-primary {
    border-color: #f05f40;
    color: #fff;
    background-color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary.focus,
    .btn-primary:active,
    .btn-primary.active,
    .open > .dropdown-toggle.btn-primary {
        border-color: #ed431f;
        color: #fff;
        background-color: #ee4b28;
    }

    .btn-primary:active,
    .btn-primary.active,
    .open > .dropdown-toggle.btn-primary {
        background-image: none;
    }

    .btn-primary.disabled,
    .btn-primary[disabled],
    fieldset[disabled] .btn-primary,
    .btn-primary.disabled:hover,
    .btn-primary[disabled]:hover,
    fieldset[disabled] .btn-primary:hover,
    .btn-primary.disabled:focus,
    .btn-primary[disabled]:focus,
    fieldset[disabled] .btn-primary:focus,
    .btn-primary.disabled.focus,
    .btn-primary[disabled].focus,
    fieldset[disabled] .btn-primary.focus,
    .btn-primary.disabled:active,
    .btn-primary[disabled]:active,
    fieldset[disabled] .btn-primary:active,
    .btn-primary.disabled.active,
    .btn-primary[disabled].active,
    fieldset[disabled] .btn-primary.active {
        border-color: #f05f40;
        background-color: #f05f40;
    }

    .btn-primary .badge {
        color: #f05f40;
        background-color: #b9a9a9;
    }

.btn {
    border: 1px;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: 'Iranian Sans';
    font-weight: 700;
}

.btn-warning {
    border: 1px;
    border-radius: 300px;
}

.btn-xl {
    padding: 15px 30px;
}

::-moz-selection {
    -ms-text-shadow: none;
    text-shadow: none;
    color: #fff;
    background: #f05f40;
}

::selection {
    -ms-text-shadow: none;
    text-shadow: none;
    color: #fff;
    background: #f05f40;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}



.CompanyMarker {
    position: relative;
    width: 35px;
    text-align: center;
    top: 10px;
}

    .CompanyMarker:hover {
        position: relative;
        width: 45px;
        text-align: center;
        top: 8px;
        transition: all ease .3s;
        -webkit-transition: all ease .3s;
        -moz-transition: all ease .3s;
    }

.btn-social {
    font-weight: 600;
    font-size: 20px;
}

.btn {
    font-weight: 500;
    font-size: 18px;
}

ul.social-buttons {
    margin-bottom: 0;
}

    ul.social-buttons li a {
        display: block;
        height: 40px;
        width: 40px;
        -ms-border-radius: 100%;
        border-radius: 100%;
        font-size: 20px;
        line-height: 40px;
        color: #fff;
        background-color: #f05f40;
        outline: 0;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

        ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
            background-color: #fed136;
        }

.toTop {
    width: 60px;
    height: 60px;
    font-size: 25px;
    line-height: 56px;
    color: #fff;
    background: #fed136;
    border-radius: 50%;
    -webkit-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
    position: fixed;
    right: 40px;
    bottom: 40px;
    display: none;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    z-index: 20;
    -ms-text-rendering: auto;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    text-decoration: none;
}


    .toTop:hover {
        background: #fec503;
        text-decoration: none;
    }

    .toTop:link, .toTop:visited {
        color: #ffffff;
        text-decoration: none;
        cursor: auto;
    }

        .toTop:link:active, .toTop:visited:active {
            color: #ffffff;
        }


#svg-logo {
    width: 8%;
    text-shadow: white 0px 0px 8px;
    -webkit-filter: drop-shadow( 0px 0px 15px white );
    filter: drop-shadow( 0px 0px 8px white ); /* Same syntax as box-shadow */
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}

@media(max-width:1100px) {
    #svg-logo {
        width: 16%;
    }
}


.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toggle .btn-primary {
    width: 110px;
    height: 37px;
}

.emails {
    color: #333;
    text-decoration: none;
}

a.scroll-arrow {
    font-size: 35px;
    color: white;
    width: 50px;
    line-height: 52px;
    border-radius: 50%;
    height: 50px;
    border: 1px solid white;
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 1029;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: .9;
}

    .scroll-arrow:hover {
        box-shadow: 0 2px 6px 0 rgba(0,0,0,.4);
        opacity: 1;
    }

    .scroll-arrow:after {
        display: inline-block;
        background-size: 100%;
        opacity: .8;
    }
    

#loginLink {
    font-size: 25px;
    padding-left: 15px;
}

    #loginLink:hover {
        padding-left: 22px;
    }
